<html ng-app="notifsta" ng-strict-di>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Notifsta </title>
    <!--Google apis for location-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-US"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
    <link rel="icon" type="image/png" href="assets/icons/favicon.png">
    <!-- build:css angular_chart_bootstrap.css -->
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- endbuild -->
    <!-- build:css app.css -->
    <!-- animations.css goes first or else they break in minification process -->
    <link rel="stylesheet" href="styles/animations.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/event.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="styles/admin.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.min.css" />
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">

    <link rel="stylesheet" href="styles/theme.css">
    <link rel="stylesheet" href="styles/homepage.css">
    <!-- endbuild -->
    <!-- build:js dependencies.js -->
    <!-- JQUERY + MOMENT + BOOTSTRAP-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/jquery.zoom-scroller.js"></script>
    <!-- AMAZON AWS SDK -->
    <script src="bower_components/aws-sdk-js/dist/aws-sdk.min.js"></script>

    <!-- ANGULAR -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angularjs-toaster/toaster.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-deckgrid/angular-deckgrid.js"></script>
    <script src="bower_components/ngAnimate-animate.css/animate.js"></script>

    <!-- ANGULAR UI CALENDAR -->
    <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>

    <!--FACEBOOK ANGULAR SDK-->
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>

    <!-- ANGULAR BOOTSTRAP UI-->
    <!--<script src="bower_components/angular-bootstrap/dist/ui-bootstrap-tpls-0.13.0.min.js"></script>-->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- ANGULAR CHART.JS + CHART.JS -->
    <script src="bower_components/chart.js/chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

    <!-- WEBSOCKET RAILS -->
    <script src="bower_components/websocket-rails/websocket-rails.min.js"></script>

    <!-- MOMENT -->
    <script src="bower_components/moment/moment.js"></script>

    <!-- endbuild -->
    <!-- build:js app.js -->
    <!-- MAIN APP -->
    <script src="app.js"></script>
    <script src="app.js"></script>
    <script src="app/admin/ctrl.js"></script>
    <script src="app/admin/service.js"></script>
    <script src="app/login/ctrl.js"></script>
    <script src="app/signup/ctrl.js"></script>
    <script src="app/logout/ctrl.js"></script>
    <script src="app/create_channel/ctrl.js"></script>
    <script src="app/home/ctrl.js"></script>
    <script src="app/dashboard/ctrl.js"></script>
    <script src="app/notif_stats/ctrl.js"></script>
    <script src="app/notif_stats/service.js"></script>
    <script src="app/event/ctrl.js"></script>
    <script src="app/create_event/ctrl.js"></script>

    <!-- UTILIY SCRIPTS -->
    <script src="/app/util/web/parse_http.js"></script>
    <script src="/app/util/web/notifsta_http.js"></script>
    <script src="/app/util/web/notifsta_adapter.js"></script>
    <script src="/app/util/web/notifsta_websocket.js"></script>
    <script src="/app/util/base/auth.js"></script>
    <script src="/app/util/base/imc_service.js"></script>
    <script src="/app/util/base/desktop_notifs.js"></script>
    <script src="/app/util/base/directives.js"></script>
    <script src="/app/util/base/address.js"></script>
    <!-- endbuild -->

</head>
<body ng-controller="MainController" class="fus-red" style="height: auto">
    <toaster-container style="margin-top:90px"></toaster-container>
    <!-- HEADER AND NAVBAR -->
    <span class="theme-css">
        <div class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="nav-menu-button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/"><img src="/assets/home_images/white_website_logo.png" class="logo"> </a>
                </div>
                <div class="navbar-collapse collapse" id="nav-collapsible">
                    <ul class="nav navbar-nav navbar-right">

                        <!--SHOWN IF NOT LOGGED IN-->
                        <li ng-show="!LoggedIn()"><a href="#/signup\"><i class="fa fa-home"></i> Sign Up</a></li>
                        <li ng-show="!LoggedIn()">
                            <a href="#/login\"><i class="fa fa-shield"></i> Login </a>
                        </li>

                        <!-- SHOWN IF LOGGED in -->
                        <li ng-show="LoggedIn()">
                            <a href="#/create_event\"><i class="fa fa-shield"></i> Create Event </a>
                        </li>
                        <li class="dropdown" ng-show="LoggedIn()" id="event-menu">
                            <a href="" id="event-menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Events <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" id="event-menu-items">
                                <li ng-repeat="event in data.user.events" ng-show="LoggedIn() && !event.admin">
                                    <a ng-href="#/event/{{event.name}}\?event_id={{event.id}}"><i class="fa fa-shield"></i> {{ event.name }}</a>
                                </li>
                                <li ng-repeat="event in data.user.events" ng-show="LoggedIn() && event.admin">
                                    <a ng-href="#/event_admin/{{event.name}}\?event_id={{event.id}}"><i class="fa fa-shield"></i> {{ event.name }}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                        <li ng-show="LoggedIn()">
                            <a href="#/logout"><i class="fa fa-shield"></i> Logout </a>
                        </li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </div>
    </span>

    <div style="min-height: 100%;" ng-style="{'display': on_homepage() ? '0px!important' : '50px'}'">
        <!-- ANGULAR INJECTED CODE -->
        <div ng-view class="fade-view"></div>
    </div>
    <div class="col-md-12 footer" ng-style="{'display': on_homepage() ? 'none' : 'block'}" style="padding-top:10px; background-color:whitesmoke">
        <ul style="">
            <li>
                <a href="#contact">Contact Us</a>
            </li>
        </ul>
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-43034218-5', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
