<md-dialog id="contactpages" class="login-box pad-top non-homepage">
    <div class="login-dialog" ng-show="!loading" style="width: 350px" layout="column" layout-align="center" ng-if="!paid">
        <h1>Publish your Event!</h1>
        <p> Are you sure you're ready to publish? Once published, the event will
        be visible to everyone on Notifsta. </p>
        <!--<p> Pay now with your credit card, or if you'd like to negotiate, contact <a href="mailto:hi@notifsta.com">hi@notifsta.com</a></p>-->
        <md-button ng-click="payNow($event)"
                   class="md-raised md-warn"
                   style="margin-left: 10px; font-weight: bold; background-color:rgb(254,92,63)">Publish Event</md-button>
    </div>
    <div class="login-dialog" ng-show="!loading" style="width: 350px" layout="column" layout-align="center" ng-if="paid">
        <h1>Publish your Event!</h1>
        <p> Congratulations! Your event is now publicly visible!</p>
        <md-button ng-click="hideDialog($event)"
                   class="md-raised md-warn"
                   style="margin-left: 10px; font-weight: bold; background-color:rgb(254,92,63)">Great!</md-button>
    </div>
</md-dialog>
