<style type="text/css">
    body {
        background: rgb(245,245,247);
    }
</style>
<div id="projector"
     fullscreen
     style="width: 100%; height: 100%"
     ng-controller="ProjectorCtrl"
     ng-show="is_full_screen()"
     ng-include src="'app/projector/projector_main.html'">

</div>
<span id="adminpage">
    <div class="container-fluid non-homepage">
        <div class="row header event-header"
             style="background-size: cover"
             layout="row" layout-align="center start"
             ng-if="data.Event.cover_photo_url != null && data.Event.cover_photo_url.length >= 4"
             ng-style="{'background-image':'url('+data.Event.cover_photo_url+')', 'width': '100%', 'background-position' : 'left center'}">
            <div layout="column" style="">
                <h1 class="event-title">{{ event.name }}</h1>
            </div>
            <div style="width: 300px"> </div>
        </div>
        <div class="row content" style="margin-left: 15px; margin-right: 15px" layout="row" layout-align="center">
            <div layout="row" style="max-width: 1200px; width: 100%">
                <!-- Stats -->
                <div class="col-md-4" layout="column" layout-align="start">

                    <div class="row box-title red">
                        <div style="float:left; ">
                            OVERVIEW
                        </div>
                    </div>
                    <div class="stat actual-stat" style="padding-bottom: 15px; margin-bottom: 15px;" layout="column" layout-align="center">
                        <div layout="row" layout-align="center" style="width: 100%">
                            <div class="col-xs-4 stat">
                                <div class="stat-text">
                                    <span class="stat-number"> {{ data.Event.subscribed_users.length }} </span>
                                    <div>
                                        <span class="stat-unit">Subscribers</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 stat">
                                <div class="stat-text">
                                    <span class="stat-number"> {{ data.Event.total_broadcasts }}</span>
                                    <div>
                                        <span class="stat-unit">Broadcasts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="admin-todo">
                            <div style="width: 80%; text-align: left">
                                Filled in basic event information
                            </div>
                            <div>
                                <i class="glyphicon mdi mdi-check" style="color: green"
                                   ng-show="data.Event.description &&
                                            data.Event.start_time &&
                                            data.Event.end_time"></i>
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="admin-todo">
                            <div style="width: 80%; text-align: left">
                                Uploaded an Event Map
                            </div>
                            <div>
                                <i class="glyphicon mdi mdi-check" style="color: green"
                                   ng-show="data.Event.event_map_url"></i>
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="admin-todo">
                            <div style="width: 80%; text-align: left">
                                Added a schedule to your event
                            </div>
                            <div>
                                <i class="glyphicon mdi mdi-check" style="color: green"
                                   ng-show="data.Event.subevent_grouped_array.length > 0"></i>
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="admin-todo">
                            <div style="width: 80%; text-align: left">
                                Added other admins to the event
                            </div>
                            <div>
                                <i class="glyphicon mdi mdi-check" style="color: green"
                                   ng-show="admin_users.length > 1"></i>
                            </div>
                        </div>
                        <a ng-click="PublishEvent()" class="btn btn-primary airbnb-red" ng-show="!data.Event.published" style="margin: 5px">
                            Publish Event <i class="glyphicon mdi mdi-upload"></i>
                        </a>
                        <a ng-click="PublishEvent()" class="btn btn-primary" ng-show="data.Event.published" style="margin: 5px">
                            Published! <i class="glyphicon mdi mdi-check"></i>
                        </a>
                    </div>

                    <div class="row box-title red">
                        <div style="float:left; ">
                            EVENT INFO
                        </div>
                    </div>
                    <div class="stat actual-stat" style="padding-bottom: 15px; text-align: left" layout="column" layout-align="start start">

                        <div class="row" style="margin-top: 10px; margin-left: 0px; margin-right: 10px; margin-bottom: 10px">
                            <label> Event Description </label>
                            <div class="col-md-12" style="padding-left: 0px">
                                <input focus-me="focusthis" ng-model="data.Event.description" ng-required="true"
                                       style="width: 100%; padding: 5px"></input>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div class="row" style="margin-top: 5px; margin-left: 0px;">
                            <label> Start Time</label>
                            <div>
                                <div class="input-group">
                                    <div class="input-group" combinedtpicker min-date="today" placeholder="'Start time'"
                                         tz-name="data.Event.timezone"
                                         ng-model="data.Event.start_time"></div>
                                </div>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div class="row" style="margin-left: 0px">
                            <label> End Time</label>
                            <div>
                                <div class="input-group">
                                    <div class="input-group" combinedtpicker min-date="data.Event.start_time"
                                         placeholder="'End time'"
                                         tz-name="data.Event.timezone"
                                         ng-model="data.Event.end_time"></div>
                                </div>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div class="row" style="margin-left: 0px; width: 100%; ">
                            <label> Location Address </label>
                            <div style="width: 100%">
                                <!--<input class="form-control ng-valid ng-dirty" id="google_places_ac" name="google_places_ac" type="text" ng-model="data.Event.address" placeholder="Enter a location" autocomplete="off" style="">-->
                                <script type="text/ng-template" id="searchbox.tpl.html">
                                    <input class="form-control ng-valid ng-dirty" type="text" id="searchbox" ng-model="data.Event.address" placeholder="Enter an address" autocomplete="off" style="width: 80%; margin-top: 15px;">
                                </script>
                                <ui-gmap-google-map center="data.Event.map.center" zoom="data.Event.map.zoom" draggable="true" options="options">
                                    <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
                                    <ui-gmap-marker idkey='1'
                                                    coords='data.Event.marker.coords'>
                                    </ui-gmap-marker>
                                </ui-gmap-google-map>
                            </div>
                        </div>

                        <md-divider></md-divider>
                        <div class="row" style="margin-left: 0px; margin-bottom: 5px">
                            <div layout="row" style="margin-top: 20px" layout-align="start">
                                <input type="submit" name="commit" value="Save Changes"
                                       style="border-radius: 1px!important; font-weight: bold;"
                                       ng-click="publish_updates()"
                                       class="btn btn-primary airbnb-red" ng-disabled="submitting">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="two col-md-8" style="margin-top: 0px">
                    <div class="row box-title red">
                        <div style="float:left; ">
                            NOTIFICATIONS
                        </div>
                    </div>
                    <div ng-include src="'app/admin/send_notification.html'"> </div>

                    <div class "slide"
                         ng-repeat="channel in data.Event.channels"
                         ng-show="channel.selected">
                        <div class="actual-feed-wrapper">
                            <div class="actual-feed">
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="Notifications">
                                        <md-content class="md-padding" style="max-height: 200px; overflow-y: scroll">
                                            <div class="feed-item" ng-repeat="notif in channel.notifications">
                                                <div class="feed-item-text">


                                                    <b>{{ notif.type }}</b> - <span class="lighter-color"> {{ notif.time }} </span>
                                                </div>
                                                <div class="feed-item-text">{{ notif.notification_guts }}</div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Scheduled Notifications">
                                        <md-content class="md-padding" style="max-height: 200px; overflow-y: scroll">
                                            <div ng-include src="'app/admin/scheduled_notifications.html'" class="feed-item"> </div>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </div>
                        </div>
                        <div style="margin-top: 5px; border-top: 1px solid lightgrey" ng-if="channel.selected && notif.responses_pie_chart !== undefined && notif.responses_pie_chart.labels.length > 0">
                            <center>
                                <p ng-if="notif.number_responses == 0"> No responses yet! </p>
                                <p ng-if="notif.number_responses > 0"> {{ notif.number_responses }} responses </p>
                            </center>
                            <canvas class="chart chart-pie"
                                    height="75%"
                                    data="notif.responses_pie_chart.data"
                                    labels="notif.responses_pie_chart.labels"
                                    legend="true"
                                    options="options"
                                    click="onClick"></canvas>
                        </div>
                    </div>
                    <div class="feed-item" ng-show="channel.notifications.length == 0">
                        <div class="feed-item-text"> It's lonely in here - send a message now! </div>
                    </div>

                    <div class="actual-feed-wrapper event-info" style="padding: 0">
                        <md-tabs md-dynamic-height md-border-bottom class="md-accent">
                            <md-tab label="IMAGES">
                                <md-content class="md-padding">
                                    <div ng-include
                                         src="'app/admin/event_info/event_info_main.html'">
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Timetable" md-on-select="show_calendar($event)">
                                <md-content class="md-padding" style="padding-bottom: 20px">
                                    <div id="timetable_c" ng-click="timetable_clicked($event)"
                                         style="padding-bottom:30px"
                                         ng-class="{'timetable-disabled' : !calendar_editable  }"
                                         ui-calendar="data.Event.uiConfig.calendar"
                                         ng-model="data.Event.event_sources" calendar="timetable_c"></div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Add Admins" md-on-select="">
                                <md-content class="md-padding" style="padding-bottom: 20px">
                                    <div ng-controller="AddAdminsCtrl"
                                         ng-include src="'app/admin/add_admins/add_admins_main.html'"></div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                        <div class="subeventeditor">
                            <div ng-show="editing_subevent"
                                 ng-style="{'margin-left': event_editor_popup.posX +  'px', 'margin-top': event_editor_popup.posY + 'px'}"
                                 class="subevent-editor-side">
                                <form class="subevent-editor-form"
                                      style="margin-bottom: 0"
                                      editable-form name="subevent_editor"
                                      oncancel="cancel_subevent_editing()"
                                      onaftersave="save_subevent()" class="slide">
                                    <div>
                                        <!-- editable username (text with validation) -->
                                        <span class="title">Event name: </span>
                                        <span editable-text="partial_subevent.name" focus-me="autofocused" e-name="name" e-required>
                                            {{ partial_subevent.name || 'Enter an event name!' }}
                                        </span>
                                    </div>
                                    <div>
                                        <span class="title">Description: </span>
                                        <span editable-text="partial_subevent.description" e-name="description">
                                            {{ partial_subevent.description || 'Enter a description!' }}
                                        </span>
                                    </div>
                                    <div>
                                        <span class="title">Location:</span>
                                        <span editable-text="partial_subevent.location" e-name="location" e-required>
                                            {{ partial_subevent.location || 'Enter a location!' }}
                                        </span>
                                    </div>
                                    <div>
                                        <div class="input-group">
                                            <span style="width: 50px; padding-top: 5px;" class="title">Start</span>
                                            <div ng-if="editing_subevent" class="input-group" combinedtpicker
                                                 tz-name="data.Event.timezone"
                                                 ng-model="partial_subevent.start_time"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="input-group">
                                            <span style="width: 50px; padding-top: 5px;" class="title">End</span>
                                            <div ng-if="editing_subevent" class="input-group" combinedtpicker
                                                 tz-name="data.Event.timezone"
                                                 ng-model="partial_subevent.end_time"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- buttons to submit / cancel form -->
                                        <span ng-show="subevent_editor.$visible">
                                            <button type="submit" class="btn btn-primary airbnb-red" ng-disabled="subevent_editor.$waiting">
                                                Save
                                            </button>
                                            <button type="button" class="btn btn-default" ng-disabled="subevent_editor.$waiting" ng-click="subevent_editor.$cancel()">
                                                Cancel
                                            </button>
                                            <button type="button" class="btn btn-default" ng-show="partial_subevent.id" ng-disabled="subevent_editor.$waiting" ng-click="delete_subevent()">
                                                Delete
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feeds -->
    </div>
    </div>
</span>

<!--<md-tab label="Scheduled Notifications" md-on-select="">
    <md-content class="md-padding" style="padding-bottom: 20px">
        <div ng-include src="'app/admin/scheduled_notifications.html'"> </div>
    </md-content>
</md-tab>-->
