<style type="text/css">

body {
  background: rgb(245,245,247);
}

</style>
<span id="adminpage">
  <div class="container-fluid">
    <div class="row header">
      <center >
        <h1>{{ event.name }}</h1>
      </center>
    </div>
    <div class="row content" style="margin-left: 15px; margin-right: 15px">
      <!-- Feeds -->
      <div class="col-xs-6 two">
        <div class="slide"
          style="margin-left: 15px;"
          ng-repeat="channel in data.Event.channels">
          <div class="row box-title red">
            <div class="dropdown" style="float:left">
              <a  class='icon-click dropdown-toggle' id="dropdownmenu"data-toggle="dropdown"><i class="glyphicon glyphicon-list"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownmenu">
                <li role="presentation"><a role="menuitem" tabindex="-1" >Invite People</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" >Rename</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" >Delete</a></li>
              </ul>
            </div>
            <div style="float:left; margin-left: 15px;">
              {{ channel.name }} 
            </div>
          </div>
          <div class="actual-feed">

            <div class="feed-item" ng-repeat="notif in channel.notifications">
              <div class="feed-item-text">
                <b>{{ notif.type }}</b> - {{ notif.time }}
              </div>
              <div class="feed-item-text">{{ notif.notification_guts }}</div>
              <form ng-show="notif.type == 'Survey'">
                <div 
                  style="padding-left: 10px; padding-top: 3px; padding-bottom:3px; padding-right:5px;"
                  ng-repeat="option in notif.options"
                  ng-class="{selected: option.id==notif.response.option_id }" >
                  <input type="radio" 
                  ng-value="option.id" 
                  ng-model="notif.response.new_option_id"/>
                  {{ option.option_guts }}
                </div>
                <button 
                  class ="btn btn-default"
                  style="margin-top: 5px"
                  ng-click="submit_option(notif, channel.id)">
                  Submit
                </button>
              </form>

            </div>
            <div class="feed-item" ng-show="channel.notifications.length == 0">
              <div class="feed-item-text"> It's lonely in here - send a message now! </div>
            </div>
          </div>
        </div>
      </div>


      <!--Info panel-->
      <div class="two col-xs-6">
        <div class="row box-title red">
          <div class="dropdown" style="float:left">
            <a  class='icon-click dropdown-toggle' id="dropdownmenu"data-toggle="dropdown"><i class="glyphicon glyphicon-list"></i></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownmenu">
              <li role="presentation"><a role="menuitem" tabindex="-1" >Invite People</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" >Rename</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" >Delete</a></li>
            </ul>
          </div>
          <div style="float:left; margin-left: 15px;">
            Event Information
          </div>
        </div>
        <div class ="actual-feed-wrapper event-info">
          <label> Welcome! </label>
          <div>
            <pre style="font-family: inherit">{{ data.Event.description || 'no description' }}</pre>
          </div>

          <label> Location </label>
          <div>
            {{ data.Event.address }}
            <!--<input class="form-control ng-valid ng-dirty" id="google_places_ac" name="google_places_ac" type="text" ng-model="data.Event.address" placeholder="Enter a location" autocomplete="off" style="">-->
            <script type="text/ng-template" id="searchbox.tpl.html">
<input class="form-control ng-valid ng-dirty" type="text" id="searchbox" ng-model="data.Event.address" placeholder="Enter an address" autocomplete="off" style="width: 40%; margin-top: 15px;">
            </script>
            <ui-gmap-google-map center="data.Event.map.center" zoom="data.Event.map.zoom" draggable="true" options="options">
            <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
            <ui-gmap-marker
            idKey='1'
            coords='data.Event.marker.coords'>
            </ui-gmap-marker>
            </ui-gmap-google-map>
          </div>

          <label> Start time</label>
          <div >
            {{ data.Event.start_time }}
          </div>
          <label> End time</label>
          <div >
            {{ data.Event.end_time }}
          </div>
          <label> Timetable </label>
          <div ui-calendar="data.Event.uiConfig.calendar" ng-model="data.Event.event_sources" calendar="timetable_c"></div>
        </div>

      </div>
    </div>
  </div>
</div>
</span>
