<form ng-submit="AddUserAsAdmin()" layout="row">
    <md-autocomplete flex required
                     md-input-name="autocompleteField"
                     md-selected-item="input.item"
                     md-search-text="input.email"
                     md-items="item in querySearch(input.email)"
                     md-search-text-change="false"
                     md-selected-item-change="false"
                     md-item-text="item.display"
                     md-floating-label="Email address">
        <md-item-template>
            <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
        </md-item-template>
    </md-autocomplete>
    <input type="submit" style="display:none"></input>
    <div>
        <md-button class="md-raised md-warn" style="margin-left: 10px"> Add </md-button>
    </div>
</form>

<md-list>
    <b> Current admins</b>
    <md-list-item ng-repeat="admin_user in admin_users">
        <md-divider></md-divider>
        <p >
                {{ admin_user.display }}
        </p>
        <div>
            <md-button class="md-button md-icon-button" ng-click="ConfirmRemoveUserAdminPrivilege(admin_user)" style="margin-left: 10px">
                <i class="mdi glyphicon mdi-delete"></i>
            </md-button>
        </div>
    </md-list-item>
</md-list>