<span class="theme-css fus-red">

    <!-- Main component for a primary marketing message or call to action -->
    <div id="top" class="jumbotron">
        <div class="fus-bg"></div>
        <div class="fus-overlay"></div>
        <div class="container">
            <div class="fus-pitch">
                <div class="fus-call-to-action">
                  <h1>An app for your hackathon. In 10 minutes.</h1 >
                  <h2>Push notifications, schedules, maps, and more.</h2>

                    <div class="fus-btns">
                        <a href="" class="scrollto btn fus-btn-white" scroll-to="#feature">Learn More</a>
                        <a ng-click="showSignupDialog($event, '#/create_event')" style="cursor: pointer" class="btn fus-btn-white btn-primary">Start now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="feature" class="fus-section fus-feature fus-white-bg">
        <div class="container">
            <div class="fus-section-header">
                <h1>Delight your attendees. </h1>
            </div>

            <ul class="nav nav-tabs fus-tabs">
                <li><a id="feature2_a" href="" data-toggle="tab"><span
                      class="glyphicon mdi mdi-information"></span> <span
                      class="fus-subtitle">Programme<span></a></li>
                <li class="active"><a id="feature1_a" href="" data-toggle="tab"><span class="glyphicon mdi mdi-bell-ring-outline"></span> <span class="fus-subtitle">Notifications</span></a></liclass="active">
                <li><a id="feature3_a" href="" data-toggle="tab"><span class="glyphicon glyphicon-envelope"></span> <span class="fus-subtitle">Support</span></a></li>
                <!--<li><a id="feature5_a" href="" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span> <span class="fus-subtitle">Feature 5</span></a></li>-->
            </ul>

            <div class="tab-content fus-tab-content">
                <div class="tab-pane active" id="feature1">
                    <div class="row">
                        <div class="col-md-4 fus-photo">
                            <a class="animated bounceInLeft" target="_blank">
                              <img src="assets/home_images/lock.png" height="450"/>
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="fus-tab-center animated fadeIn">
                                <div class="fus-header">
                                    <h3>Push Notifications</h3>
                                    <h4>Things change. Notifsta's got your back. </h4>
                                </div>
                                <p>Food slow to arrive? No problem. Just send out a notification with a few clicks, and all your attendees will know. No more queues for your attendees, and no more running around for you. </p>
                                <p>Want to remind attendees guests about workshops?  No problem either. Just schedule them in advance, and they'll go off just before those workshops begin.</p> 
                                <!--
                                <div style="display: flex; justify-content: center">
                                    <a style="margin-right: 5px" href="https://play.google.com/store/apps/details?id=com.hacklondon.notify">
                                        <img alt="Get it on Google Play" class="gplay" style="height: 42px; width: 130px; vertical-align: top"
                                             src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
                                    </a>
                                    <a style="margin-left: 5px" href="https://itunes.apple.com/us/app/notifsta/id985058307?mt=8&uo=6&at=&ct=" target="itunes_store" style="margin-top: 1px; display:inline-block;overflow:hidden;background:url() no-repeat;width:150px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg);}">
                                        <img alt="Get it on the App Store" class="gplay" style="height: 42px; width: 150px; vertical-align: top"
                                             src="http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.png" />
                                    </a>
                                </div> 
                                --!>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="feature2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fus-tab-center animated fadeIn">
                                <div class="fus-header">
                                    <h3>Schedules, maps, and more</h3>
                                    <h4>Ditch those paper programmes.</h4>
                                </div>
                                <p>
                                  Paper programmes are hard. You need to design and print them. Your attendees need to hold on to them.
                                </p> 
                                <p>
                                  It's time to move on. Notifsta's got schedules, maps, and more. You'll save time, and your attendees'll have all the information they need, right in their pockets.
                                </p>
                                <center>
                                    <a ng-click="showSignupDialog($event, '#/create_event')" style="cursor: pointer" class="btn fus-btn-white btn-primary">
                                        Try Now
                                    </a>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-6 fus-photo">
                            <a class="animated bounceInRight" target="_blank">
                                <img src="/assets/home_images/schedule.png" height="450" >
                            </a>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="feature3">
                    <div class="row">
                        <div class="col-md-6 fus-photo">
                            <a class="animated bounceInLeft" target="_blank">
                                <img src="/assets/home_images/schedule.png" height="450" >
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="fus-tab-center animated fadeIn">
                                <div class="fus-header">
                                    <h3>Schedules, maps, and more</h3>
                                    <h4>Ditch those paper programmes.</h4>
                                </div>
                                <p>
                                  Paper programmes are hard. You need to design and print them. Your attendees need to not lose them.
                                </p> 
                                <p>
                                  It's time to move on. Notifsta's got schedules, maps, and more. You'll save time, and your attendees'll have all the information they need, right in their pockets.
                                </p>
                                <center>
                                    <a ng-click="showSignupDialog($event, '#/create_event')" style="cursor: pointer" class="btn fus-btn-white btn-primary">
                                        Try Now
                                    </a>
                                </center>
                            </div>
                        </div>

                    </div>
                </div>
                <!--<div class="tab-pane" id="feature4" display="none">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fus-tab-center animated fadeIn">
                                <div class="fus-header">
                                    <h3>Analytics</h3>
                                    <h4>Know your attendees. Coming soon.</h4>
                                </div>
                                <p> With our analytics, you'll know how many people are using Notifsta at your event, what events in the schedule interest them the most, as well as what devices they're on.</p>
                                <a href="#signup" class="btn btn-lg">Signup Now</a>
                            </div>
                        </div>
                        <div class="col-md-6 fus-photo">
                            <a class="animated bounceInRight" href="#" target="_blank">
                                <img src="assets/home_images/comingsoon.png" alt="Placeholder of Your Feature">
                            </a>
                        </div>
                    </div>
                </div>-->
            </div>

        </div>
    </div>

    <div id="testimonials" class="fus-section fus-blog fus-white-bg">
        <div class="container">
            <div class="fus-section-header">
                <h1>Testimonials</h1>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><a href="#" target="_blank">St. John's College May Ball, Cambridge</a></h3>
                            <p>
                                <b>"the world's seventh best party" -- Time Magazine</b>
                            </p>
                            <p>
                                "The app was extremely popular and proved to be incredibly useful to help publicise the schedule ... Notifsta was a pleasure to deal with." 
                            </p>
                            <p>
                               Cherezov, President
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><a href="#" target="_blank">Keble Ball, Oxford</a></h3>
                            <p>
                                "Amazing. Notifsta really saved us a lot of time
                                during OxHacks. We had people spread across ~15
                                rooms, and communication was a real challenge.
                                We tried Facebook, 
                            </p>
                            <p>
                                "Wow, were we impressed! They had our app up and running in 15 minutes. It looked beautiful, and worked wonderfully."
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><a href="#" target="_blank">St. Hugh's Ball, Oxford</a></h3>
                            <p>"Notifsta? Just use them. They're incredibly great people, with an incredibly great product."</p>
                            <p>
                                "Attendees loved having programmes on their phone, and being notified when fireworks were about to start. We loved not having to remind everyone where everything was."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="seen-on" class="fus-section fus-seen-on fus-white-bg">
        <div class="container">
            <div class="fus-section-header">
                <h3>Contact us at <a href="mailto:hi@notifsta.com">hi@notifsta.com</a></h3>
            </div>
        </div>
    </div>

    <footer class="fus-section">
        <div class="fus-overlay"></div>
        <div class="container">
            <ul class="list-inline" style="margin-top:30px;">
                <!--<li><a class="scrollto" href="#about">About</a></li>-->
                <li><a href="" class="scrollto" scroll-to="#feature">Features</a></li>
                <li><a href="" class="scrollto" scroll-to="#testimonials">Testimonials</a></li>
                <!--<li><a href="" class="scrollto" scroll-to="#pricing">Pricing</a></li>-->
                <li><a href="" scroll-to="#top" class="scrollto">Top</a></li>
            </ul>
            <div class="credit">
                &copy; Notifsta, 2015
            </div>
        </div>
    </footer>
</span>
