<span class="theme-css fus-red">

    <!-- Main component for a primary marketing message or call to action -->
    <div id="top" class="jumbotron">
        <div class="fus-bg"></div>
        <div class="fus-overlay"></div>
        <div class="container">
            <div class="fus-pitch">
                <div class="fus-call-to-action">
                    <h1>Notifsta</h1>
                    <h2>An app for your event, in 10 minutes.</h2>
                    <h2>iOS, Android, and web.</h2>


                    <div class="fus-btns">
                        <a href="" class="scrollto btn fus-btn-white" scroll-to="#feature">Learn More</a>
                        <a ng-click="showSignupDialog($event, '#/create_event')" style="cursor: pointer" class="btn fus-btn-white btn-primary">Start now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="feature" class="fus-section fus-feature fus-white-bg">
        <div class="container">
            <div class="fus-section-header">
                <h3>Schedules, maps, and notifications. </h3>
                <h4>All on your phone.</h4>
            </div>

            <ul class="nav nav-tabs fus-tabs">
                <li style="display: none"><a id="feature4_a" href="" data-toggle="tab"><span class="glyphicon mdi mdi-chart-pie"></span> <span class="fus-subtitle">Analytics</span></a></li>
                <li><a id="feature2_a" href="" data-toggle="tab"><span class="glyphicon glyphicon-calendar"></span> <span class="fus-subtitle">Admin UI</span></a></li>
                <li class="active"><a id="feature1_a" href="" data-toggle="tab"><span class="glyphicon mdi mdi-bell-ring-outline"></span> <span class="fus-subtitle">Notifications</span></a></liclass="active">
                <li><a id="feature3_a" href="" data-toggle="tab"><span class="glyphicon glyphicon-envelope"></span> <span class="fus-subtitle">Support</span></a></li>
                <!--<li><a id="feature5_a" href="" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span> <span class="fus-subtitle">Feature 5</span></a></li>-->
            </ul>

            <div class="tab-content fus-tab-content">
                <div class="tab-pane active" id="feature1">
                    <div class="row">
                        <div class="col-md-4 fus-photo">
                            <a class="animated bounceInLeft" target="_blank">
                                <img src="assets/home_images/iphone_sthughes_iphone6plus_gold_portrait.png" alt="iPhone Image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="fus-tab-center animated fadeIn">
                                <div class="fus-header">
                                    <h3>Push Notifications</h3>
                                    <h4>Never show up for the non-existent food, yet again.</h4>
                                </div>
                                <p> As an organizer, you can either send out notifications live, or schedule them ahead of time. </h4>
                                <p> Sending notifications live keeps your attendees up to date. When acts are delayed, or venues change, your attendees will know, all without you running around. Notifications can be sent either from our admin panel online, or from our mobile apps.</p>
                                <p> Scheduling notifications works like a charm. When creating the schedule, you'll be able to choose whether the your attendees should be auto-notified, 5 minutes in advance. You can choose this individually for each event in your schedule, so you don't inundate your attendees with notifications.  </p>
                                <div style="display: flex; justify-content: center">
                                    <a style="margin-right: 5px" href="https://play.google.com/store/apps/details?id=com.hacklondon.notify">
                                        <img alt="Get it on Google Play" class="gplay" style="height: 42px; width: 130px; vertical-align: top"
                                             src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
                                    </a>
                                    <a style="margin-left: 5px" href="https://itunes.apple.com/us/app/notifsta/id985058307?mt=8&uo=6&at=&ct=" target="itunes_store" style="margin-top: 1px; display:inline-block;overflow:hidden;background:url() no-repeat;width:150px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg);}">
                                        <img alt="Get it on the App Store" class="gplay" style="height: 42px; width: 150px; vertical-align: top"
                                             src="http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.png" />
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="feature2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fus-tab-center animated fadeIn">
                                <div class="fus-header">
                                    <h3>Admin UI</h3>
                                    <h4>Get an app for your event. In 10 minutes.</h4>
                                </div>
                                <p>
                                    Setup your event in 10 minutes. We just need some basic information (name, address, time), a few photos.
                                </p>
                                <p>
                                    Congratulations -- you're ready to go. Just publicize the app, and your attendees will have your event, in their pocket.
                                </p>
                                <p>
                                    Send notifications in a snap as well. Just type in what you want to say, click send, and your attendees will receive a buzz in their pockets. It's magic.
                                </p>
                                <center>
                                    <a ng-click="showSignupDialog($event, '#/create_event')" style="cursor: pointer" class="btn fus-btn-white btn-primary">
                                        Try Now
                                    </a>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-6 fus-photo">
                            <a class="animated bounceInRight" target="_blank">
                                <img src="/assets/home_images/notifsta_laptop_mockup.jpg">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="feature3">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 fus-fullwidth-content">
                            <div class="fus-tab-center">
                                <div class="fus-header">
                                    <h3>Support</h3>
                                    <h4>Actually helpful.</h4>
                                </div>
                                <p>
                                    <a class="animated bounceIn" target="_blank">
                                        <img src="images/placeholder2.png" alt="Placeholder of Your Feature">
                                    </a>
                                </p>
                                <p>
                                    We made Notifsta, so know it in and out. If you've got problems, we know the reason. We'll fix it immediately.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="tab-pane" id="feature4" display="none">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fus-tab-center animated fadeIn">
                                <div class="fus-header">
                                    <h3>Analytics</h3>
                                    <h4>Know your attendees. Coming soon.</h4>
                                </div>
                                <p> With our analytics, you'll know how many people are using Notifsta at your event, what events in the schedule interest them the most, as well as what devices they're on.</p>
                                <a href="#signup" class="btn btn-lg">Signup Now</a>
                            </div>
                        </div>
                        <div class="col-md-6 fus-photo">
                            <a class="animated bounceInRight" href="#" target="_blank">
                                <img src="assets/home_images/comingsoon.png" alt="Placeholder of Your Feature">
                            </a>
                        </div>
                    </div>
                </div>-->
            </div>

        </div>
    </div>

    <div style="margin-top: -80px" id="testimonials" class="fus-section fus-blog fus-white-bg">
        <div class="container">
            <div class="fus-section-header">
                <h3>Testimonials</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><a href="#" target="_blank">Balliol Ball, Oxford</a></h3>
                            <p>
                                "Notifsta was invaluable for our ball."
                            </p>
                            <p>
                                "Instead of printing programmes, we just used Notifsta. We saved trees, had happier attendees (who knew where everything was), and were much less stressed ourselves."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><a href="#" target="_blank">Keble Ball, Oxford</a></h3>
                            <p>
                                "We were initially hesitant to use Notifsta, since they approached us 2 days before the ball. Since all the other balls were using them, though, we decided to see what they could set us up with in the hour."
                            </p>
                            <p>
                                "Wow, were we impressed! They had our app up and running in 15 minutes. It looked beautiful, and worked wonderfully."
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><a href="#" target="_blank">St. Hugh's Ball, Oxford</a></h3>
                            <p>"Notifsta? Just use them. They're incredibly great people, with an incredibly great product."</p>
                            <p>
                                "Attendees loved having programmes on their phone, and being notified when fireworks were about to start. We loved not having to remind everyone where everything was."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="seen-on" class="fus-section fus-seen-on fus-white-bg">
        <div class="container">
            <div class="fus-section-header">
                <h3>Contact us at <a href="mailto:hi@notifsta.com">hi@notifsta.com</a></h3>
            </div>
        </div>
    </div>

    <footer class="fus-section">
        <div class="fus-overlay"></div>
        <div class="container">
            <ul class="list-inline">
                <!--<li><a class="scrollto" href="#about">About</a></li>-->
                <li><a href="" class="scrollto" scroll-to="#feature">Features</a></li>
                <li><a href="" class="scrollto" scroll-to="#testimonials">Testimonials</a></li>
                <!--<li><a href="" class="scrollto" scroll-to="#pricing">Pricing</a></li>-->
                <li><a href="" scroll-to="#top" class="scrollto">Top</a></li>
            </ul>
            <div class="credit">
                &copy; Notifsta, 2015
            </div>
        </div>
    </footer>


    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-11278966-2', 'iamnotchinese.co');
        ga('send', 'pageview');

    </script>
</span>
