<span id="createeventpage">
    <div class="col-md-12  non-homepage" style="padding-top: 50px;">
        <div class="signup-box" style=" background-color: white!important; border: 1px solid grey">
            <h1>Create an Event</h1>
            <form class="new_user"
                  ng-submit="AttemptEventCreation()"
                  accept-charset="UTF-8">
                <div class="form-group" style="margin-bottom:0">
                    <div class="row">
                        <div class="col-sm-12">
                            <md-input-container flex style="padding-bottom: 5px">
                                <label style="margin-bottom: 0px"> Event Name </label>
                                <input focus-me="focusthis" ng-model="partial_event.name" ng-required="true">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0">
                    <div class="row">
                        <div class="col-sm-12">
                            <md-input-container flex style="padding-bottom: 5px">
                                <label style="margin-bottom: 0px"> Event Description </label>
                                <input ng-model="partial_event.description" ng-required="true">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0">
                    <div class="row">
                        <div class="col-sm-12">
                            <md-input-container flex style="padding-bottom: 5px">
                                <label style="margin-bottom: 0px"> Event Location </label>
                                <input id="google_places_ac" name="google_places_ac" type="text" ng-model="partial_event.address" ng-required="true" />
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12">
                        <label class="timepicker-label"> Start </label>
                        <div class="input-group">
                            <div class="input-group" combinedtpicker min-date="today" placeholder="'Start time'"
                                 tz-name="partial_event.timezone"
                                 ng-model="partial_event.start_time"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="timepicker-label"> End </label>
                        <div class="input-group">
                            <div class="input-group" combinedtpicker min-date="partial_event.start_time"
                                 placeholder="'End time'"
                                 tz-name="partial_event.timezone"
                                 ng-model="partial_event.end_time"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" layout="row" style="margin-top: 20px" layout-align="start"> 
                        <input type="submit" name="commit" value="Create Event" 
                               style="border-radius: 1px!important; font-weight: bold;"
                               class="btn btn-primary airbnb-red" ng-disabled="submitting">
                    </div>
                </div>
            </form>
        </div>

        <div layout="row" layout-align="center start" class="feature-list col-md-8 col-md-offset-2">
            <div class="col-md-4" layout="column" layout-align="center center">
                <i class="glyphicon mdi mdi-lock-open-outline big-icon"></i>
                <b> Secure and Reliable</b>
                <div style="text-align:center">
                    We've been used by balls in Oxford and Cambridge, with thousands of event attendees.
                    Use Notifsta with the confidence that it'll just work.
                </div>
            </div>
            <div class="col-md-4" layout="column" layout-align="center center">
                <i class="glyphicon mdi mdi-bell-ring-outline big-icon"></i>
                <b> Send or Schedule Push Notifications</b>
                <div style="text-align:center">
                    As an organizer, you can either send out notifications live, or schedule them ahead of time.
                    When acts are delayed, or venues change, your attendees will know, all without you running around.
                </div>
            </div>
            <div class="col-md-4" layout="column" layout-align="center center">
                <i class="glyphicon mdi-email-outline mdi big-icon"></i>
                <b> Support </b>
                <div style="text-align:center">
                    We made Notifsta, so we know it in and out. If you've got problems, we know the reason. We'll fix it immediately.
                </div>
            </div>
        </div>
    </div>
</span>
