<html>
  <head>
  <!--Angular -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>

  <!--Moment.js time library -->
  <script src="/bower_components/moment/moment.js"></script>

  <!-- Application code -->
  <script src="/app.js"></script>
  <script src="/app/admin/ctrl.js"></script>
  <script src="/app/admin/service.js"></script>
  <script src="/app/event_login/ctrl.js"></script>
  <script src="/app/create_channel/ctrl.js"></script>

  <!-- Web Http API -->
  <script src="/app/util/web/ParseHttp.js"></script>
  <script src="/app/util/web/NotifistaHttp.js"></script>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <!--Chart.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
  
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

  <!--ng-tags-input-->
  <script src="/bower_components/ng-tags-input/ng-tags-input.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/ng-tags-input/ng-tags-input.css">


  <!-- quick test -->
  <!--<script src="/socket.io/sails.io.js"></script>-->

  </head>
  <body>
    <div ng-app="notifista" class="container-fluid">
      <div ng-controller="MainController" id="main_controller"
        data-auth-email=<%= current_user.email %>
        data-auth-token=<%= current_user.authentication_token%>
        data-user-id=<%= current_user.id%>
        data-event-name=<%= current_user.events.first.name %> >

        <div ng-controller="AdminPanelController" ng-include src="'/app/admin/main.html'"></div>
        <!--<div ng-controller="UserPanelController" ng-include src="'/app/user/main.html'"></div>-->
      </div>

    </div>
  </body>
</html>
