<!--Buttons to go full screen and publish event-->

<div class="new_user"
     accept-charset="UTF-8">
    <!--<div class="form-group" style="margin-bottom:0">
        <div class="row">
            <div class="col-sm-12">
                <md-input-container flex style="padding-bottom: 5px">
                    <label style="margin-bottom: 0px"> Facebook Page</label>
                    <input ng-model="data.Event.facebook_url" ng-required="true">
                </md-input-container>
            </div>
        </div>
    </div>-->
    <div class="row" style="margin-top: 10px; margin-left: 0px; margin-right: 10px; margin-bottom: 10px">
        <label> Cover Photo </label>
        <div class="">
            <a ng-href="{{data.Event.cover_photo_url}}">
                <div style="background-size: cover; height: 300px; margin-bottom: 10px"
                     ng-style="{'background-image':'url('+data.Event.cover_photo_url+')', 'width': '100%', 'background-position' : 'left center'}">
                </div>
            </a>
            <center>
                <div ng-show="cover_photo_uploading">
                    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
            </center>
            <button class="btn btn-default"
                    ngf-select
                    ng-disabled="cover_photo_uploading"
                    ng-model="$parent.$parent.cover_photo_files">
                Upload New File
            </button>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="row" style="margin-top: 10px; margin-left: 0px; margin-right: 10px; margin-bottom: 10px">
        <label> Event Map </label>
        <div class="">
            <a ng-href="{{data.Event.event_map_url}}">
                <div style="background-size: cover; height: 300px; margin-bottom: 10px"
                     ng-style="{'background-image':'url('+data.Event.event_map_url+')', 'width': '100%', 'background-position' : 'left center'}"
                     ng-show="data.Event.event_map_url">

                </div>
            </a>
            <div ng-show="!data.Event.event_map_url" style="margin-bottom: 10px; margin-left: 3px">
                <i>No event map uploaded yet!</i>
            </div>
            <center>
                <div ng-show="event_map_uploading">
                    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
            </center>
            <button class="btn btn-default"
                    ngf-select
                    ng-disabled="event_map_uploading"
                    ng-model="$parent.$parent.event_map_files">
                Upload New File
            </button>
        </div>
    </div>
</div>

<!--<div class="col-md-12">
    <label> Event Timezone</label>
    <div class="editable-item">
        <span editable-select="data.Event.timezone" onaftersave="publish_updates()" e-ng-options="t.value as t.text for t in timezone_names" e-form="event_timezone_form">
            {{ data.Event.timezone || 'Event timezone' }}
        </span>
        <button class="btn-default" ng-click="event_timezone_form.$show()" ng-hide="event_timezone_form.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </div>
</div>-->
<md-divider></md-divider>
<div class="col-md-12" style="margin-top: 10px" layout="row" layout-align="center">
    <a ng-click="ToggleFullScreen()" class="btn btn-primary airbnb-red" style="margin: 5px">
        Go Fullscreen <i class="glyphicon mdi mdi-fullscreen"></i>
    </a>
</div>