<!--Buttons to go full screen and publish event-->

<form class="new_user"
      ng-submit="publish_updates()"
      accept-charset="UTF-8">
    <div class="row" style="margin-top: 10px; margin-left: 0px; margin-right: 10px; margin-bottom: 10px">
        <label> Event Description </label>
        <div class="col-md-12" style="padding-left: 0px">
            <input focus-me="focusthis" ng-model="data.Event.description" ng-required="true"
                   style="width: 100%; padding: 5px"></input>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="row" style="margin-top: 5px; margin-left: 0px;">
        <label> Start Time</label>
        <div class="">
            <div class="input-group">
                <div class="input-group" combinedtpicker min-date="today" placeholder="'Start time'"
                     tz-name="data.Event.timezone"
                     ng-model="data.Event.start_time"></div>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="row" style="margin-left: 0px">
        <label> End Time</label>
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group" combinedtpicker min-date="data.Event.start_time"
                     placeholder="'End time'"
                     tz-name="data.Event.timezone"
                     ng-model="data.Event.end_time"></div>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <!--<div class="form-group" style="margin-bottom:0">
        <div class="row">
            <div class="col-sm-12">
                <md-input-container flex style="padding-bottom: 5px">
                    <label style="margin-bottom: 0px"> Facebook Page</label>
                    <input ng-model="data.Event.facebook_url" ng-required="true">
                </md-input-container>
            </div>
        </div>
    </div>-->
    <div class="row" style="margin-top: 10px; margin-left: 0px; margin-right: 10px; margin-bottom: 10px">
        <label> Cover Photo </label>
        <div class="">
            <a ng-href="{{data.Event.cover_photo_url}}">
                <div style="background-size: cover; height: 300px; margin-bottom: 10px"
                     ng-style="{'background-image':'url('+data.Event.cover_photo_url+')', 'width': '100%', 'background-position' : 'left center'}">
                </div>
            </a>
            <center>
                <div ng-show="cover_photo_uploading">
                    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
            </center>
            <button class="btn btn-default"
                    ngf-select
                    ng-disabled="cover_photo_uploading"
                    ng-model="$parent.$parent.cover_photo_files">
                Upload New File
            </button>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="row" style="margin-top: 10px; margin-left: 0px; margin-right: 10px; margin-bottom: 10px">
        <label> Event Map </label>
        <div class="">
            <div style="background-size: cover; height: 300px; margin-bottom: 10px"
                 ng-style="{'background-image':'url('+data.Event.event_map_url+')', 'width': '100%', 'background-position' : 'left center'}"
                 ng-show="data.Event.event_map_url">

            </div>
            <div ng-show="!data.Event.event_map_url" style="margin-bottom: 10px; margin-left: 3px">
                <i>No event map uploaded yet!</i>
            </div>
            <center>
                <div ng-show="event_map_uploading">
                    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
            </center>
            <button class="btn btn-default"
                    ngf-select
                    ng-disabled="event_map_uploading"
                    ng-model="$parent.$parent.event_map_files">
                Upload New File
            </button>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="col-md-12">
        <label> Location Address </label>
        <div>
            <!--<input class="form-control ng-valid ng-dirty" id="google_places_ac" name="google_places_ac" type="text" ng-model="data.Event.address" placeholder="Enter a location" autocomplete="off" style="">-->
            <script type="text/ng-template" id="searchbox.tpl.html">
                <input class="form-control ng-valid ng-dirty" type="text" id="searchbox" ng-model="data.Event.address" placeholder="Enter an address" autocomplete="off" style="width: 40%; margin-top: 15px;">
            </script>
            <ui-gmap-google-map center="data.Event.map.center" zoom="data.Event.map.zoom" draggable="true" options="options">
                <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
                <ui-gmap-marker idkey='1'
                                coords='data.Event.marker.coords'>
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>

    <div class="row" style="margin-left: 0px">
        <div class="col-md-12" layout="row" style="margin-top: 20px" layout-align="start">
            <input type="submit" name="commit" value="Save Changes"
                   style="border-radius: 1px!important; font-weight: bold;
                                     background-color:rgb(254,92,63)"
                   class="btn btn-primary" ng-disabled="submitting">
        </div>
    </div>
</form>

<!--<div class="col-md-12">
    <label> Event Timezone</label>
    <div class="editable-item">
        <span editable-select="data.Event.timezone" onaftersave="publish_updates()" e-ng-options="t.value as t.text for t in timezone_names" e-form="event_timezone_form">
            {{ data.Event.timezone || 'Event timezone' }}
        </span>
        <button class="btn-default" ng-click="event_timezone_form.$show()" ng-hide="event_timezone_form.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </div>
</div>-->
<md-divider></md-divider>
<div class="col-md-12" style="margin-top: 10px" layout="row" layout-align="center">
    <a ng-click="ToggleFullScreen()" class="btn btn-primary" style="margin: 5px">
        Go Fullscreen <i class="glyphicon mdi mdi-fullscreen"></i>
    </a>
    <a ng-click="PublishEvent()" class="btn btn-primary" ng-show="!event.published" style="margin: 5px">
        Publish Event <i class="glyphicon mdi mdi-upload"></i>
    </a>
</div>
