
<div class="event-outer">
    <a ng-if="card.admin" ng-href="#/event_admin/{{card.name}}?event_id={{card.id}}">
        <div class="event-image" ng-style="{'background-image':'url('+card.cover_photo_url+')'}">
            {{card.name}}
        </div>
    </a>
    <a ng-if="!card.admin" ng-href="#/event/{{card.name}}?event_id={{card.id}}">
        <div class="event-image" ng-style="{'background-image':'url('+card.cover_photo_url+')'}">
            {{card.name}}
        </div>
    </a>
    <div class="event-content">
        <table>
            <tr>
                <td class="label-icon">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </td>
                <td>
                    <div style="height: auto" data-ng-bind="card.description"></div>
                </td>
            </tr>
            <tr>
                <td class="label-icon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </td>
                <td>
                    <div ng-bind="mother.get_date(card.start_time)"></div>
                </td>
            </tr>
            <tr>
                <td class="label-icon">
                    <i class="glyphicon glyphicon-map-marker"></i>
                </td>
                <td>
                    <div data-ng-bind="card.address"></div>
                    {{ card.subscribed }}
                    {{ card.subscribed }}
                </td>
            </tr>
        </table>
    </div>
    <div class="event-status">
        <div ng-show="card.admin && card.subscribed" style="margin-top:5px; margin-left: 10px">
            Owner
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div ng-show="!card.admin && card.subscribed">
            <a class="icon-button" href="" n btn-default" ng-click="mother.unsubscribe_to_event(card)">
                Remove <i class="glyphicon glyphicon-minus"></i>
            </a>
        </div>
        <div ng-show="!card.subscribed">
            <a class="icon-button" href="" n btn-default" ng-click="mother.subscribe_to_event(card)">
                Add <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
    </div>
</div>