
<div class="event-outer"
     ng-touch-start="mother.showcard(card)"
     ng-touch-end="mother.hidecard(card)"
     ng-mouseenter="card.showme=true"
     ng-mouseleave="card.showme=false">
    <a ng-if="card.admin" ng-href="#/event_admin/{{card.name}}?event_id={{card.id}}">
        <div class="event-image" ng-style="{'background-image':'url('+card.cover_photo_url+')'}">
            <div style="margin-bottom: 10px">{{card.name}}</div>
            <div ng-if="mother.window_size.width <= 750" style="font-size: 14px">
                {{ card.address }} <br /> {{ mother.get_date(card.start_time) }}
            </div>

            <div ng-if="mother.window_size.width > 750" ng-show="card.showme" ng-mouseenter="card.showme=true" class="event-content zoom">
                <table>
                    <tr>
                        <td class="label-icon">
                            <i class="glyphicon mdi mdi-information-outline"></i>
                        </td>
                        <td>
                            <div style="height: auto" data-ng-bind="card.description"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-icon">
                            <i class="glyphicon mdi mdi-clock"></i>
                        </td>
                        <td>
                            <div ng-bind="mother.get_date(card.start_time)"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-icon">
                            <i class="glyphicon mdi mdi-map-marker"></i>
                        </td>
                        <td>
                            <div data-ng-bind="card.address"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </a>
    <!--<div class="event-add-remove-icon" ng-show="!card.admin && card.subscribed">-->
    <!--<a class="icon-button" href=""  ng-click="mother.unsubscribe_to_event(card)">-->
    <!--<i class="glyphicon glyphicon-remove" style="color: white"></i>-->
    <!--</a>-->
    <!--</div>-->
    <div class="event-add-remove-icon" ng-show="!card.subscribed">
        <a class="icon-button" href="" ng-click="mother.subscribe_to_event(card)">
            <i class="glyphicon glyphicon-plus" style="font-size: 25px!important; color:white; "></i>
        </a>
    </div>
    <a ng-show="!card.admin" ng-href="#/event/{{card.name}}?event_id={{card.id}}">
        <div class="event-image grow-image" ng-style="{'background-image':'url('+card.cover_photo_url+')'}">
            <div style="margin-bottom: 10px">{{card.name}}</div>
            <div ng-if="mother.window_size.width <= 750" style="font-size: 14px">
                {{ card.address }} <br /> {{ mother.get_date(card.start_time) }}
            </div>
            <div ng-if="mother.window_size.width > 750" ng-show="card.showme" ng-mouseenter="card.showme=true" class="event-content zoom">
                <table>
                    <tr>
                        <td class="label-icon">
                            <i class="glyphicon mdi mdi-information-outline"></i>
                        </td>
                        <td>
                            <div style="height: auto" data-ng-bind="card.description"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-icon">
                            <i class="glyphicon mdi mdi-clock"></i>
                        </td>
                        <td>
                            <div ng-bind="mother.get_date(card.start_time)"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-icon">
                            <i class="glyphicon mdi mdi-map-marker"></i>
                        </td>
                        <td>
                            <div data-ng-bind="card.address"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </a>
</div>
