<style type="text/css">

body {
  background: rgb(245,245,247);
}

</style>
<span id="dashboardpage">

  <div class="container">

    <div class="row">

      <!--<div class="col-md-2">-->


      <!--</div>-->

      <div >

        <div class="dashboard-info col-md-12">
          <div class ="actual-feed-wrapper event-info shaded-border">
            <h1> Weclome to Notifsta! </h1>
            <h3> We're excited to have you with us! <br />We're still working on all our features right now - if you've got any ideas or bug reports please email us at hi@notifsta.com!</h3>
            <center>
              <button 
                ng-click="go_create_event()"
                class="btn btn-success btn-lg creating-event-button"> Create an event now! </button>
              <button 
                ng-click="say_sorry()"
                class="btn btn-info btn-lg creating-event-button"> Browse available events </button>
            </center>
          </div>
        </div>
        <table class="dashboard-events col-md-12">
          <tr>
            <td style="border-right: 1px solid lightgrey; ">
              <h1>Events you run:</h1>

              <div ng-repeat = "event in data.user.events" ng-show="LoggedIn() && event.admin" class="event-outer">

                <a ng-href="#/event_admin/{{event.name}}?event_id={{event.id}}" >
                  <div class="event-image"ng-style="{'background-image':'url('+event.cover_photo_url+')'}">

                    {{event.name}}

                </div></a>

                <div class="event-content">

                  <center>	{{event.start_time | date:'longDate'}}</center>
                  <br>
                  {{ event.description }} <br/>

                </div>
              </div>
            </td>


            <td>
              <h1>Events you've attended:</h1>

              <div ng-repeat = "event in data.user.events" ng-show="LoggedIn() && !event.admin" class="event-outer">

                <a ng-href="#/event/{{event.name}}?event_id={{event.id}}">
                  <div class="event-image"ng-style="{'background-image':'url('+event.cover_photo_url+')'}">
                    {{event.name}}

                </div></a>

                <div class="event-content">

                  <center>	{{event.start_time | date:'longDate'}}</center>
                  <br>
                  {{ event.description }}
                </div>
              </div>
            </td>
          </tr>
        </table>

      </div>

    </div>

  </span>
