

.notif-item-text {
    line-height: 30px;

}

.schedulenotif {
    padding-top: 10px;
    display:flex;
}

.schedulenotif b {
    padding-top: 8px;
    padding-right:10px;
}

.dropdown-menu .text-center .btn {
    border-left:none;
    border-bottom:none;
    border-radius:0px;
    margin:0px;

}

.dropdown-menu th .btn-default {
 border: none;
}

.popover-content {
    padding: 0!important;
}
.arrow {
    display: none!important;
}
.photo-preview img {
    height: 150px;
}

.editable-item {
    display: flex;
    padding-bottom:5px;
    border-bottom:1px solid #e2e2e2;
}
.editable-object {
    display: flex;
    border-bottom:1px solid #e2e2e2;
}

    .editable-object span {
        padding-bottom: 5px;
    }
    .editable-object a {
        width: 100%;
    }

    .editable-object button {
        -ms-animation-play-state: paused;
        -o-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border-radius: 4px;
    }
    .editable-object edit {
        -ms-animation-play-state: paused;
        -o-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: none;
        border-radius: 4px;
    }

.editable-object button i {
    margin-left: -2px;
}


.editable-item {
    display: flex;
    border-bottom:1px solid #e2e2e2;
}

    .editable-item span {
        width: 100%;
        padding-bottom: 5px;
    }
    .editable-item a {
        width: 100%;
    }

    .editable-item button {
        max-height:30px;
        -ms-animation-play-state: paused;
        -o-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

.editable-item button i {
    margin-left: -2px;
}

.load-block {
    opacity: 0.5;
}

.mytime {
    float: left;
}

.twitter-timeline {
    width: 1000px !important;
}

.message-box {
    background-color: white;
}

h1 {
    font-family: Avenir-Heavy !important;
}

.ellipsis {
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
}

.event-content td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.notifsta md-content {
    background-color: transparent !important;
}

    .notifsta md-content md-tabs {
        background: #f6f6f6;
        border: 1px solid #e1e1e1;
    }

        .notifsta md-content md-tabs md-tabs-canvas {
            background: white;
        }

    .notifsta md-content h1:first-child {
        margin-top: 0;
    }

.event-title {
    margin-top: 80px !important;
    text-align: left;
    margin-left: 18%;
    color: white !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.event-info .col-md-12 {
    padding-left: 0px;
}

.event-info .col-md-6 {
    padding-left: 0px;
}

.event-info .col-md-12 label {
    margin-left: 0px;
}

md-ink-bar {
    height: 3px;
    background: rgb(187, 230, 255) !important;
}
md-tabs.md-default-theme.md-accent md-tabs-wrapper {
    background-color: #da4e4e !important;
}
.red {
    background: #da4e4e !important;
}

.md-header-items {
    background: #da4e4e !important;
}

.event-header {
    margin-left: 0px;
    min-height: 200px;
    margin-bottom: 15px;
    padding-bottom: 30px;
}

table.fc-header {
    float: left;
}

.fc-scroller {
}

.md-tab-content {
    height: auto !important;
}

.subevent-editor-side {
    width: 400px !important;
    margin-top: -350px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
    border-radius: 2px;
    border: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    width: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid grey;
    z-index: 100;
    position: absolute;
}

.input-group-date {
    display: flex;
    width: auto;
}

.input-group-addon {
    width: auto;
}

.subevent-editor-side div {
    padding-bottom: 5px;
}

/*.subevent-editor-side .editable-controls{
  padding-right:15px!important;
}
.subevent-editor-side form{
  margin-bottom:0px !important;
}*/

.datetimepicker {
    width: 350px !important;
}

.shaded-border {
    border-radius: 2px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 35px;
}

* {
    font-size: 1em;
}

pre {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-align: start;
}

.timetable-sub-event-group label {
    margin-top: 0px !important;
    border-bottom: 1px solid lightblue;
    width: 100%;
    padding: 5px;
}

.timetable-sub-event-group td {
    color: black;
    vertical-align: top;
    padding: 2px;
    padding-right: 15px;
    font-size: 1em;
}

.lighter-color {
    color: #646464;
}

h1 {
    text-align: center;
}

b {
    /*color: black;*/
}

.timetable-sub-event-group table {
    margin-bottom: 15px;
}

.navbar {
    margin-bottom: 0 !important;
    border: none !important;
    border-radius: 0 !important;
}

.selected {
    border: 1px solid grey;
    border-radius: 2px;
}

* {
    /*font-family:'Avenir-Medium', sans-serif !important;*/
}

.container-fluid {
}

.header h1 {
    margin-top: 15px;
    font-size: 3.2em;
    /*margin-bottom:-15px;*/
}

.helper {
    font-weight: normal;
}

.sidepanel {
    padding-left: 40px;
}

.survey-option {
    margin-top: 10px;
    margin-bottom: 0px;
}

.newnotice {
    margin-top: 30px;
    background: white;
    height: 55px;
    color: gray;
    width: 100%;
    outline: 0;
    border-radius: 2px;
}

.newnoticeinput {
    border: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4em;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding-left: 30px;
    outline: 0;
}

.channel-list {
    padding-left: 20px;
}

.newchannelinput {
    margin-top: 30px;
    display: block;
    background: white;
    color: gray;
    width: 100%;
    border-radius: 2px;
    border: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    width: 100%;
    border-radius: 2px;
    height: 55px;
    text-align: center;
    font-size: 1.4em;
}


.event-info {
    display: block;
    padding: 15px;
    background: white;
    width: 100%;
    border-radius: 2px;
    border: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    width: 100%;
    border-radius: 2px;
}


    .event-info label {
        margin-top: 10px;
    }

    .event-info .editable-controls textarea {
        width: 100%;
    }

    .event-info .editable-textarea {
        width: 100%;
    }

md-tabs .editable-controls {
    width: 100%;
    padding-right: 90px !important;
}

.event-info .editable-text {
    width: 100%;
}

.event-info .editable-controls input {
    width: 100%;
}

.event-info .editable-text .editable-controls {
    width: 100%;
    padding-right: 90px;
}

#map_canvas {
    height: 100px;
    width: 100%;
    margin: 0px;
}

#map_canvas {
    position: relative;
}

.angular-google-map-container {
    height: 300px;
    width: 100%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    margin-top: 0px;
    font-size: 110% !important;
}

#adminpage label {
    margin-top: 5px;
}

#adminpage {
    -webkit-font-smoothing: antialiased;
}

    #adminpage .channel-title {
        margin-bottom: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #adminpage .newnotice {
        padding-left: 0;
        margin-top: 5px;
    }

    #adminpage .newchannelinput {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background: gray;
    }

    #adminpage .sidepanel-wrapper {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    #adminpage .list-group-item {
        border-top: 1px solid #f5f5f7;
        border-bottom: 1px solid #f5f5f7;
        border-left: 0;
        border-right: 0;
        cursor: pointer !important;
    }

        #adminpage .list-group-item:hover {
            cursor: pointer !important;
        }

        #adminpage .list-group-item:first-child {
            border-radius: 0;
            border: none;
        }

        #adminpage .list-group-item:last-child {
            border-top: 1px solid #f5f5f7;
            border-bottom: none !important;
            border-left: none !important;
            border-right: none !important;
        }

        #adminpage .list-group-item.active, #adminpage .list-group-item.active:focus, #adminpage .list-group-item.active:hover {
            background: gray !important;
            cursor: pointer;
        }

    #adminpage .newnotice {
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    #adminpage .stats {
        margin-top: 15px;
        width: 100%;
    }

    #adminpage .stat {
        padding: 0px 15px 5px 15px;
    }

    #adminpage .actual-stat {
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    #adminpage .stat-left {
        padding-right: 50px;
    }

    #adminpage .stat-middle {
        padding-left: 25px;
        padding-right: 25px;
    }

    #adminpage .stat-right {
        padding-right: 0px;
        padding-left: 50px;
    }

    #adminpage .actual-stat {
        width: 100%;
        min-height: 80px;
        border-radius: 2px;
        background: white;
        text-align: center;
    }

    #adminpage .stat-icon {
        width: 60px;
        height: 60px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        display: inline-block;
        float: left;
    }

        #adminpage .stat-icon .icon {
            width: 25px;
            margin-top: 18px;
        }

    #adminpage .stat-text {
        text-align: center !important;
        color: gray;
        margin: 0 auto;
        -webkit-font-smoothing: antialiased;
        padding-top: 10px;
        margin-left: -30px;
    }

    #adminpage .stat-number {
        letter-spacing: -1px;
        font-size: 2em;
    }

    #adminpage .stat-unit {
        text-align: center !important;
        font-size: 1em;
    }

    #adminpage .blue {
        background: #3498db;
    }

    #adminpage .orange {
        background: #e67e22;
    }

    #adminpage .green {
        background: #27ae60;
    }

    #adminpage .feed {
        padding-right: 25px;
        padding-left: 0;
    }

    #adminpage .feed-item {
        border-bottom: 1px solid #f1f2f7;
        padding: 15px;
        padding-left: 20px;
        /*color: #646464;*/
        -webkit-font-smoothing: antialiased;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    #adminpage .actual-feed:nth-last-child(2) {
        border-bottom: none !important;
    }

    #adminpage .feed-item-time {
        font-family: 'Avenir-Medium';
    }

    #adminpage .feed-item-text {
        margin-left: 5px;
    }

    #adminpage .two {
        margin-top: 15px;
    }

    #adminpage .graph {
        padding-left: 25px;
        padding-right: 0;
    }

    #adminpage .actual-feed {
        background: white;
        margin-bottom: 20px;
    }

    #adminpage .actual-feed-wrapper {
        border-radius: 2px;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    #adminpage .actual-feed:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    #adminpage .dropdown a, #adminpage .dropdown a:hover {
        color: white;
    }

    #adminpage .survey-option {
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
    }

        #adminpage .survey-option .list-group-item:first-child {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }

    #adminpage input.new-survey-option {
        border: 0;
        outline: 0;
    }

    #adminpage .survey-option .list-group-item:last-child {
        border-bottom-left-radius: 2px !important;
        border-bottom-right-radius: 2px !important;
    }
    #adminpage .btn.btn-primary {
          padding: 6px 12px;
    }

    #adminpage .box-title {
        width: 100%;
        margin: 0;
        color: white;
        padding-top: 15px;
        padding-left: 20px;
        -webkit-font-smoothing: antialiased;
        font-family: 'Avenir-Medium';
        height: 50px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

.event-info .editable-text .editable-controls {
    width: 100%;
    padding-right: 20px;
}
