/* Animations */
.slide-enter{
  transition: 1s;
  -webkit-transition: 1s;
}

.slide-enter.ng-enter {
  margin-top: -42px;
  z-index: -3;
}

.slide-enter.ng-enter-active {
  margin-top: 0;
}

.slide-enter.ng-leave {
  margin-left: 0;
}

.slide-enter.ng-leave-active {
  z-index: -3;
  margin-top: -42px;
}

.slide-enter.ng-move {
  background: gold;
}

.slide-enter.ng-move-active {
  background: #fff;
}

