.input-group-btn {
    position: relative;
    margin-right: 40px;
}

    .input-group-btn button {
        padding-bottom: 10px;
        margin-top: 1px;
        padding-right: 8px;
    }

.btn-info.active, .open .dropdown-toggle.btn-info {
  color: white;
  background-color: rgb(218, 80, 85);
  border-color: rgb(190, 101, 104);
}

.big-icon {
    font-size: 50px;
    color: rgb(24, 140, 189);
}

.feature-list {
    margin-top: 80px;
}
.feature-list b {
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
}

.input-group .datepicker {
    border-radius: 0!important;
}
.input-group .dropdown-menu {
    border-radius: 0!important;
}