.zoom.ng-hide-add, .zoom.ng-hide-remove {
    -webkit-animation: zoomIn .25s;
    -moz-animation: zoomIn .25s;
    -ms-animation: zoomIn .25s;
    animation: zoomIn .25s;
}

.zoom.ng-hide {
    -webkit-animation: zoomOut .25s;
    -moz-animation: zoomOut .25s;
    -ms-animation: zoomOut .25s;
    animation: zoomOut .25s;
}

.event-group-container {
    overflow-y: hidden;
    padding-bottom: 15px;
}

.dashboard-title {
    margin-top: 60px !important;
    text-align: left;
    font-size: 400% !important;
    margin-left: 18% !important;
    color: white !important;
}

.dashboard-header {
    margin-left: 0px;
    min-height: 210px;
    margin-bottom: 15px;
    padding-bottom:20px;
}


.deckgrid {
    /*margin:100px 0px;*/
    margin: auto;
    padding: 10px;
    width: 1350px;
}

    .deckgrid[deckgrid]::before {
        content: '4 .column.size-1-4';
        font-size: 0;
        visibility: hidden;
    }

    .deckgrid .column {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

        .deckgrid .column.size-1-4 {
            width: 440px;
        }

        .deckgrid .column.size-1-3 {
            width: 490px;
        }

        .deckgrid .column.size-1-2 {
            width: 355px;
        }

        .deckgrid .column.size-1-1 {
            width: 100%;
        }

@media screen and (max-width: 1540px) {
    .deckgrid {
        width: 1350px;
        margin: auto;
    }

        .deckgrid[deckgrid]::before {
            content: '4 .column.size-1-4';
        }
}

@media screen and (max-width: 1420px) {
    .deckgrid {
        width: 1000px;
        margin: auto;
    }

        .deckgrid[deckgrid]::before {
            content: '2 .column.size-1-3';
        }
}


@media screen and (min-width: 651px) and (max-width: 970px) {
    .deckgrid {
        margin: auto;
        width: 750px;
    }

        .deckgrid[deckgrid]::before {
            content: '2 .column.size-1-2';
        }
}

@media screen and (min-width: 281px) and (max-width: 650px) {
    .deckgrid {
        width: 100%;
    }

        .deckgrid[deckgrid]::before {
            content: '1 .column.size-1-1';
        }
}

@media only screen and (max-device-width : 320px), only screen and (max-width : 520px) {

    .deckgrid {
        width: 100%;
    }

        .deckgrid[deckgrid]::before {
            content: '1 .column.size-1-1';
        }
}

.input-group {
    display: flex;
    padding-bottom: 5px;
    width: 260px;
}

.timepicker-label {
    float: left;
    padding: 5px;
    width: 50px;
}

.datepicker {
    width: 175px !important;
    margin-right: 5px;
}

.md-tab-content {
    padding-bottom: 30px;
}

#adminpage .input-group {
    display: inline-table;
}

.icon-button {
    margin-left: 10px;
}

    .icon-button i:hover {
        border-color: green;
    }

.mytime .btn-link {
    display: none;
}

.mytime tbody tr.text-center {
    display: none;
}


.event-box-group {
    display: block;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.dashboard-events {
    margin-top: 25px;
}

.event-status {
    padding: 3px;
    padding-top: 8px;
}

    .event-status i {
        color: orangered;
    }

    .event-status div {
    }

.dashboard-events td {
    padding: 15px;
    vertical-align: top;
}

.dashboard-events .event-box {
    margin-right: 15px;
}

.dashboard-events tr {
    border-top: 1px solid lightgrey;
}

.creating-event-button {
    margin: 5px;
}

.dashboard-info {
    margin-top: 15px;
}

    .dashboard-info h1 {
        font-size: 200% !important;
    }

    .dashboard-info h3 {
        font-size: 130%;
        line-height: 1.5;
    }

.label-icon {
    width: 10px;
    padding-left: 0;
    padding-right: 5px;
    vertical-align: top;
}

#dashboardpage h1 {
    font-family: 'Avenir-Medium';
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4em;
    margin-bottom: 0px;
}

#dashboardpage .event-outer {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    display: inline-block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

#dashboardpage .event-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: url("https://chrisneillsdirtykitchen.files.wordpress.com/2013/04/london-at-night.jpg");
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: white;
    font-family: 'Avenir-Medium';
    -webkit-font-smoothing: antialiased;
    font-size: 1.6em;
    text-align: center;
    padding-left: 10px;
    height: 320px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

    #dashboardpage .event-image a {
        color: white;
    }

#dashboardpage .event-content {
    width: 100%;
    height: auto;
    font-family: 'Avenir-Medium';
    -webkit-font-smoothing: antialiased;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    color: white;
}

    #dashboardpage .event-content td {
        font-size: 1.0em !important;
        color: white !important;
    }

#dashboardpage .category {
    color: white;
}

.event-content tr {
    border-top: none !important;
    padding-bottom: 5px;
}

.event-content div {
    border-top: 0;
    font-size: 70% !important;
    height: 25px;
}
