@media (max-width: 768px) {

    body.fus-red .navbar-collapse {
        background: rgba(0,0,0, 0);
    }

    ::-webkit-scrollbar { 
        display: none; 
    }
}


#blog {
    /*display: none;*/
}

#pricing .fus-section-header {
    margin-bottom: 0 !important;
}

#seen-on {
    /*display: none;*/
}
#about {
    /*display: none;*/
}

.fus-section {
  padding: 0px !important;
}

.fus-tab-content {
  margin: 0px !important;
}

h2, h3, h4, p {
  font-family: Avenir-Medium !important;
}

h1 {
  font-size: 45px;
}

.thumbnail .caption h3 {
  text-align: center !important;
  margin-bottom: 20px !important;
  font-size: 25px;
}

.thumbnail {
  text-align: center !important;
}

.fus-tab-content > .tab-pane > .row > [class*="col-"].fus-photo img {
  max-width: 600px;
}

body .fus-tab-content img, body .fus-tab-content>.tab-pane>.row>[class*=col-].fus-photo img {
  width: initial !important;
}
