@font-face {
  font-family: 'Avenir-Heavy';
  src: url('Avenir-Heavy.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/Avenir-Heavy.woff') format('woff'), url('/assets/fonts/Avenir-Heavy.ttf')  format('truetype'), url('/assets/fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('/assets/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/Avenir-Medium.woff') format('woff'), url('/assets/fonts/Avenir-Medium.ttf')  format('truetype'), url('/assets/fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Avenir-Medium' !important;
}

#hero {
  background: url('../assets/home_images/bg.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  height: auto !important;
  min-height: 650px !important;
  padding-top: 100px !important;
  background-position: center center !important;
}

#home #hero:after {
  background: rgba(255,87,4,0.6) !important;
}

#home #features .feature .info h4 {
  color: #ec7745;
}

.main {
  margin-top: 85px;
}

.navbar li {
  padding-top: 40px;
  list-style-type: none !important;
}

.navlink:hover {
  background: white;
  border-radius: 5px;
  color: rgb(60,60,60) !important;
  text-decoration: none !important; 
}

#home #about {
  background: rgb(205,72,4)
}

p {
  font-size: 1.2em !important;
}

.logo {
  width:280px;
}

.navbar-brand:hover {
  background: none !important;
}

.split {
  color: white;
  margin-top: 50px;
  -webkit-font-smoothing: antialiased;
  padding-left: 20px;
}

.split h3 {
  font-weight: normal;
  font-size: 2em;
  margin-top: 2px !important;
}

.split p {
  margin-bottom: 2px !important;
}

.button {
  background: white;
  color: rgb(60,60,60) !important;
  text-shadow: none;
  display: inline-block !important;
  width: 172px !important;
  height: 60px !important;
  padding-top: 18px !important;
  text-align: center !important;
  margin-right: 0px !important;
  transition: all 0.05s !important;
}

.button:hover {
  background: rgba(255,255,255,0.8);
}

.gplay {
  display: inline-block;
  border: 0;
}

* {
  -webkit-font-smoothing: antialiased !important;
}

.split .col-md-5 {
  border-left: 2px solid white;
  padding-left: 40px;
  padding-bottom: 0;
  margin-right: 20px;
}

@media(max-width:767px){
  .main {
    margin-top: 25px;
  }

  .navlink {
    display: inline-block;
    width: 100%;
  }

  .gplay, .button {
    margin: 0 auto !important;
    display: block !important;
  }
}
@media(max-width:992px){
  * {
    text-align: center !important;
  }

  .split .col-md-5 {
    margin-bottom: 40px;
    border: 0;
  }

  #home #hero .cta {
    margin-top: 10px !important;
  }

  .logo {
    display: block;
    margin: 0 auto !important;
    text-align: center !important;
  }

  #hero {
    padding-bottom: 50px;
    text-align: center !important;
  }

  .gplay {
    margin: 0 15px 15px 0;
  }

  .gplay, .button {
    margin: 0 auto !important;
  }
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

#hero {
  box-shadow: none !important;
}

#hero h1 {
  font-family: 'Avenir-Heavy';
  margin-top: 0 !important;
  font-size: 2.8em !important;
  font-weight: normal;
  color: white !important;
}
