.transparent {
  background: transparent
}

.navbar-brand img {
  margin-top: -5px;
  height: 30px!important;
}

.overlay-navbar {
  margin-top:-60px;
  height: 200px;
}

.pad-top{
  margin-top:60px;
}

.non-homepage h1 {
  color: black;
}

.non-homepage {
  color: black;
}

.non-homepage td {
  min-height: 100%;
  color: black;
}
.non-homepage tr {
  color: black;
}

.navbar a {
  background: transparent!important;
}
.navbar li {
  background: transparent!important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  border-color:black!important;
}

.glyphicon {
  font-family: 'Glyphicons Halflings';
}

body {
  height: 100%;
}
.footer {
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}
