@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);
*:focus {
  outline: 0; }
md-input-container.editable-controls {
  padding: 0;
}
md-tabs.md-default-theme.md-accent .md-header {
    background: #da4e4e;
}
.row.content {
    margin-left: 15px;
    margin-right: 15px;
}

/**/
@media screen and (min-width: 281px) and (max-width: 750px) {
    .event-group-container center.bottom {
        margin-bottom: 50px;
    }
    div.col-md-12.footer {
        display : none!important;
    }
    .container {
        margin:0!important;
        padding:0!important;
    }

    .theme-css .navbar a {
        margin-left: 25px!important;
    }
    .navbar-brand {
        margin-left: 10px!important;
    }

    .fc-center h2 {
        font-size: 130%!important;
        margin-top: 5px!important;
    }

    .row.content {
        margin: 0!important;
    }

    .newnoticeinput {
        font-size: 1em!important;
        padding-left: 15px!important;
        border-bottom: 1px solid #3c3c3c!important;
    }


    .row {
        margin: 0!important;
    }

    .list-group.survey-option {
        margin: 0!important
    }
    .list-group.survey-option input {
        padding-left: 30px!important;
    }
    .list-group.survey-option li {
        padding-left: 30px!important;
    }
    

    .send-notifs-buttons {
        padding-left: 5px;
        padding-bottom:10px;
    }

    .stats {
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        margin: 0!important;
    }
    #adminpage .two{
        margin-top: 0!important;
    }

    .form-control {
        width: 85%;
    }

    /*.text-center .form-control {
        width: 50px!important;
    }*/
    .col-sm-12 {
        margin-right:0!important;
        padding-right:0!important;
    }
    .event-header {
        margin-bottom: 0!important;
    }
    #adminpage .two {
      margin-bottom: 50px!important;
    }
    #adminpage .col-md-8 {
        margin:0;
        padding-left:0;
        padding-right:0;
    }
    #adminpage .col-md-4 {
        margin:0;
        padding-left:0;
        padding-right:0;
    }
    #adminpage .col-md-12 {
        margin:0;
        padding-left:0;
        padding-right:0;
    }
    .event-title {
        margin-top: 90px !important;
        text-align: left;
        font-size: 250% !important;
        margin-left: 40px !important;
        margin-right: 20px !important;
        color: white !important;
    }
    .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
        border-color: white!important;
    }

    .stat-number {
        font-size:1.5em!important;
    }
    .stat-unit {
        font-size: 0.85em!important;
    }

    .stat-text {
        margin-left: 0!important;
    }

    a.event-list-member {
        color: white!important;
    }

    .shaded-border {
        margin-bottom: 5px!important;
        box-shadow: none!important;
    }
    .md-header-items-container {
    }
    md-content {
        min-height: 50%
    }

    md-tab-content {
        min-width: 100%;
    }
}
/**/

md-input-container.editable-controls [ng-message] {
  position: static;
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: url("Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Avenir-Heavy.woff") format("woff"), url("/assets/fonts/Avenir-Heavy.ttf") format("truetype"), url("/assets/fonts/Avenir-Heavy.svg#Avenir-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-Medium';
  src: url("/assets/fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Avenir-Medium.woff") format("woff"), url("/assets/fonts/Avenir-Medium.ttf") format("truetype"), url("assets/fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
.navbar-primary {
  background: white;
  font-family: 'Avenir-Medium';
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0px !important;
  border-bottom: 1px grey; }
  .navbar-primary a {
    color: black; }
  .navbar-primary .logo {
    margin-top: -7px;
    height: 30px; }

.main {
  margin-top: 85px; }

.navbar li {
  list-style-type: none !important; }

.navlink:hover {
  background: white;
  border-radius: 5px;
  color: #3c3c3c !important;
  text-decoration: none !important; }

#home #about {
  background: #cd4804; }

p {
  font-size: 1.2em !important; }

.split {
  color: white;
  margin-top: 50px;
  -webkit-font-smoothing: antialiased;
  padding-left: 20px; }

.split h3 {
  font-weight: normal;
  font-size: 2em;
  margin-top: 2px !important; }

.split p {
  margin-bottom: 2px !important; }

.button {
  background: white;
  color: #3c3c3c !important;
  text-shadow: none;
  display: inline-block !important;
  width: 172px !important;
  height: 60px !important;
  padding-top: 18px !important;
  text-align: center !important;
  margin-right: 0px !important;
  transition: all 0.05s !important; }

.button:hover {
  background: rgba(255, 255, 255, 0.8); }

.gplay {
  display: inline-block;
  border: 0; }

* {
  -webkit-font-smoothing: antialiased !important; }

.split .right {
  border-left: 2px solid white;
  padding-bottom: 15px;
}

#hero {
  box-shadow: none !important; }

#hero h1 {
  font-family: Avenir-Heavy;
  margin-top: 0 !important;
  font-size: 2.8em !important;
  font-weight: normal;
  color: white !important; }

#createeventpage {
  font-family: 'Avenir-Medium';
  -webkit-font-smoothing: antialiased; }
  #createeventpage h1 {
    text-align: center;
    font-family: 'Avenir-Medium';
    font-size: 2em; }
  #createeventpage label {
    font-weight: normal; }
  #createeventpage .signup-box {
    margin: 0 auto;
    max-width: 550px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    background: #fafafa !important;
    border-radius: 5px;
    margin-top: 50px; }

#signuppage {
  font-family: 'Avenir-Medium';
  -webkit-font-smoothing: antialiased; }
  #signuppage h1 {
    text-align: center;
    font-family: 'Avenir-Medium';
    font-size: 2em; }
  #signuppage label {
    font-weight: normal; }
  #signuppage .signup-box {
    margin: 0 auto;
    max-width: 450px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background: #fafafa !important;
    border-radius: 5px;
    margin-top: 50px; }

#contactpages {
  font-family: 'Avenir-Medium';
  -webkit-font-smoothing: antialiased; }
  #contactpages h1 {
    text-align: center;
    font-family: 'Avenir-Medium';
    color: black;
    font-size: 2em; }
  #contactpages label {
    font-weight: normal; }
  #contactpages .login-box {
    margin: 0 auto;
    max-width: 450px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background: #fafafa !important;
    border-radius: 5px;
    margin-top: 50px; }
::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #da4e4e;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
